### Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import os
import pandas as pd
import numpy as np

In [ ]:
# C:\Users\aamos\Documents\Education\Netology\Python\_Statistic
# D:\Documents_AL\Netology\Python\_Statistic

In [2]:
data = pd.read_csv('C:\\Users\\aamos\\Documents\\Education\\Netology\\Python\\_Statistic\\horse_data.csv', na_values = '?', names = ['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', \
        'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', \
        'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination', 'abdomen', 'packed_cell_volume', \
        'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion?', \
        'type_of_lesion_25', 'type_of_lesion_26', 'type_of_lesion_27', 'cp_data'])
data.head()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion?,type_of_lesion_25,type_of_lesion_26,type_of_lesion_27,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      299 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital_Number              300 non-null    int64
 3   rectal_temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory_rate             242 non-null    float64
 6   temperature_of_extremities   244 non-null    float64
 7   peripheral_pulse             231 non-null    float64
 8   mucous_membranes             253 non-null    float64
 9   capillary_refill_time        268 non-null    float64
 10  pain                         245 non-null    float64
 11  peristalsis                  256 non-null    float64
 12  abdominal_distension         244 non-null    float64
 13  nasogastric_tube             196 non-null    float64
 14  nasogastric_reflux           194 non-null    float64
 15  nasogastric_reflux_PH        53 non-null     float64
 16  rectal_examination           198 non-null    float64
 17  abdomen                      182 non-null    float64
 18  packed_cell_volume           271 non-null    float64
 19  total_protein                267 non-null    float64
 20  abdominocentesis_appearance  135 non-null    float64
 21  abdomcentesis_total_protein  102 non-null    float64
 22  outcome                      299 non-null    float64
 23  surgical_lesion?             300 non-null    int64
 24  type_of_lesion_25            300 non-null    int64
 25  type_of_lesion_26            300 non-null    int64
 26  type_of_lesion_27            300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

In [4]:
data_short = data[['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse','pain','abdominal_distension','nasogastric_reflux', 'total_protein',  'outcome']]

In [5]:
data_short.describe()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,pain,abdominal_distension,nasogastric_reflux,total_protein,outcome
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,245.00000,244.000000,194.000000,267.000000,299.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,2.95102,2.266393,1.582474,24.456929,1.551839
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,1.30794,1.065131,0.805359,27.475009,0.737187
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,1.00000,1.000000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,2.00000,1.000000,1.000000,6.500000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,3.00000,2.000000,1.000000,7.500000,1.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,4.00000,3.000000,2.000000,57.000000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,5.00000,4.000000,3.000000,89.000000,3.000000

Считаем моду:

In [6]:
print('Значение моды surgery: ', data_short.surgery.mode()[0])
print('Значение моды rectal_temperature: ', data_short.rectal_temperature.mode()[0])
print('Значение моды pulse: ', data_short.pulse.mode()[0])
print('Значение моды pain: ', data_short.pain.mode()[0])
print('Значение моды abdominal_distension: ', data_short.abdominal_distension.mode()[0])
print('Значение моды nasogastric_reflux: ', data_short.nasogastric_reflux.mode()[0])
print('Значение моды total_protein: ', data_short.total_protein.mode()[0])
print('Значение моды outcome: ', data_short.outcome.mode()[0])

Значение моды surgery:  1.0
Значение моды rectal_temperature:  38.0
Значение моды pulse:  48.0
Значение моды pain:  3.0
Значение моды abdominal_distension:  1.0
Значение моды nasogastric_reflux:  1.0
Значение моды total_protein:  6.5
Значение моды outcome:  1.0

Базовые статистические метрики не очень информативны для оценки категориальных величин. В целом все показатели находятся в достаточно узких пределах оцениваемых категорий.

Для числовых показателей можно сказать следующее:
 а) для rectal_temperature все значения измерений находятся в достаточно узком диапазоне. Средние величины (средняя арифмитическая, мода и медиана) существенно друг от друга не отличаются.
 б) для pulse наблюдается большой разброс значений. Средние величины существенно отличаются друг от друга. Значение 1-ого квартиля почти в 2 раза ниже, чем значение 3-его квартиля. Максимальная величина значения в 6 раз больше минимальной.
 в) для total_protein наблюдается максимальный разброс значений. Прежде всего, необходимо отметить, что значение 3-его квартиля почти в 9 раз больше значения 1-ого квартиля.

### Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [8]:
Q1_rt = data_short.rectal_temperature.quantile(0.25)
Q3_rt = data_short.rectal_temperature.quantile(0.75)

iqr_rt = Q3_rt - Q1_rt

lower_bound_rt = Q1_rt - (1.5 * iqr_rt) 
upper_bound_rt = Q3_rt + (1.5 * iqr_rt)

remove_outliers_rt = data_short[data_short.rectal_temperature.between(lower_bound_rt, upper_bound_rt, inclusive=True)].sort_values('rectal_temperature')

In [30]:
pd.concat([data_short, remove_outliers_rt]).drop_duplicates(keep=False).dropna(subset=['rectal_temperature'])

,surgery,Age,Hospital_Number,rectal_temperature,pulse,pain,abdominal_distension,nasogastric_reflux,total_protein,outcome
20,1.0,1,530157,39.9,72.0,5.0,4.0,1.0,6.1,1.0
44,1.0,1,535407,35.4,140.0,4.0,NaN,1.0,69.0,3.0
54,2.0,1,529461,40.3,114.0,2.0,3.0,1.0,8.1,3.0
75,1.0,9,534092,39.7,100.0,2.0,NaN,NaN,57.0,3.0
80,1.0,1,527518,36.4,98.0,4.0,2.0,NaN,6.4,2.0
91,2.0,1,529461,40.3,114.0,2.0,3.0,1.0,8.1,2.0
99,2.0,1,530002,39.6,108.0,2.0,3.0,2.0,8.0,1.0
118,1.0,1,533983,36.5,78.0,5.0,1.0,1.0,75.0,1.0
141,2.0,1,522979,36.0,42.0,NaN,NaN,NaN,6.8,2.0
238,2.0,1,528702,36.1,88.0,3.0,2.0,3.0,7.0,3.0
251,2.0,1,527940,36.6,42.0,1.0,1.0,1.0,7.1,2.0
259,1.0,1,527734,40.8,72.0,2.0,1.0,1.0,7.4,2.0
281,2.0,1,530624,40.0,78.0,2.0,1.0,1.0,6.5,2.0
298,1.0,1,530612,36.5,100.0,3.0,3.0,1.0,6.0,1.0

Все значения выбросов находятся в перделах допустимых значений. При использовании данной информации выявленные выбросы следует сохранить.

In [10]:
Q1_p = data_short.pulse.quantile(0.25)
Q3_p = data_short.pulse.quantile(0.75)

iqr_p = Q3_p - Q1_p

lower_bound_p = Q1_p - (1.5 * iqr_p) 
upper_bound_p = Q3_p + (1.5 * iqr_p)

remove_outliers_p = data_short[data_short.pulse.between(lower_bound_p, upper_bound_p, inclusive=True)].sort_values('pulse')

In [29]:
pd.concat([data_short, remove_outliers_p]).drop_duplicates(keep=False).dropna(subset=['pulse'])

,surgery,Age,Hospital_Number,rectal_temperature,pulse,pain,abdominal_distension,nasogastric_reflux,total_protein,outcome
3,1.0,9,5290409,39.1,164.0,2.0,4.0,2.0,7.2,2.0
41,2.0,9,5288249,39.0,150.0,NaN,NaN,NaN,8.5,1.0
55,1.0,9,5282839,38.6,160.0,3.0,4.0,NaN,NaN,2.0
255,1.0,9,5294539,38.8,184.0,4.0,3.0,NaN,3.3,2.0
275,1.0,9,5297159,38.8,150.0,5.0,2.0,1.0,6.2,2.0

Нормальные значения пульса лошади в состоянии покоя составляют 36-44 ударов в минуту. Представленные выбросы сильно превышают данные значения. Однако, возможно, что данные измерения проводились у лошадей после физических нагрузок. Поэтому эти данные также не следует исключать при анализе.

In [12]:
Q1_tp = data_short.total_protein.quantile(0.25)
Q3_tp = data_short.total_protein.quantile(0.75)

iqr_tp = Q3_tp - Q1_tp

lower_bound_tp = Q1_tp - (1.5 * iqr_tp) 
upper_bound_tp = Q3_tp + (1.5 * iqr_tp)

remove_outliers_tp = data_short[data_short.total_protein.between(lower_bound_tp, upper_bound_tp, inclusive=True)].sort_values('total_protein')

In [31]:
pd.concat([data_short, remove_outliers_tp]).drop_duplicates(keep=False).dropna(subset=['total_protein'])

Empty DataFrame
Columns: [surgery, Age, Hospital_Number, rectal_temperature, pulse, pain, abdominal_distension, nasogastric_reflux, total_protein, outcome]
Index: []

Как было указано ранее, по данному показателю наблюдался большой разброс между значениями 1-ого и 3-его квартилей. В результате выбросов по данному показателю нет.

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [14]:
for col in data_short.columns:
    pct_missing = data_short[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 20.0%
pulse - 8.0%
pain - 18.3%
abdominal_distension - 18.7%
nasogastric_reflux - 35.3%
total_protein - 11.0%
outcome - 0.3%

Удаляем неполностью заполненые строки (это незначительно сокращает объем информации с 300 строк до 282 строк)

In [18]:
data_short_full = data_short.dropna(thresh=7)
data_short_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 0 to 299
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               281 non-null    float64
 1   Age                   282 non-null    int64
 2   Hospital_Number       282 non-null    int64
 3   rectal_temperature    233 non-null    float64
 4   pulse                 267 non-null    float64
 5   pain                  244 non-null    float64
 6   abdominal_distension  242 non-null    float64
 7   nasogastric_reflux    194 non-null    float64
 8   total_protein         262 non-null    float64
 9   outcome               281 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 24.2 KB

In [19]:
for col in data_short_full.columns:
    pct_missing = data_short_full[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.4%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 17.4%
pulse - 5.3%
pain - 13.5%
abdominal_distension - 14.2%
nasogastric_reflux - 31.2%
total_protein - 7.1%
outcome - 0.4%

В столбцах где пропущено незначительное количество значений, а также содержатся категориальные показатели, пропущенные значения заменяем модой.
Такая замена не окажет существенное влияние на возможные выводы при анализе этих данных.

In [20]:
data_short_full.surgery.fillna(data_short_full.surgery.mode()[0], inplace=True)
data_short_full.outcome.fillna(data_short_full.outcome.mode()[0], inplace=True)

data_short_full

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,surgery,Age,Hospital_Number,rectal_temperature,pulse,pain,abdominal_distension,nasogastric_reflux,total_protein,outcome
0,2.0,1,530101,38.5,66.0,5.0,4.0,NaN,8.4,2.0
1,1.0,1,534817,39.2,88.0,3.0,2.0,NaN,85.0,3.0
2,2.0,1,530334,38.3,40.0,3.0,1.0,NaN,6.7,1.0
3,1.0,9,5290409,39.1,164.0,2.0,4.0,2.0,7.2,2.0
4,2.0,1,530255,37.3,104.0,NaN,NaN,NaN,7.4,2.0
...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,2.0,NaN,NaN,65.0,3.0
296,2.0,1,527702,37.2,72.0,4.0,3.0,1.0,NaN,3.0
297,1.0,1,529386,37.5,72.0,4.0,3.0,1.0,6.8,2.0
298,1.0,1,530612,36.5,100.0,3.0,3.0,1.0,6.0,1.0
299,1.0,1,534618,37.2,40.0,NaN,NaN,NaN,62.0,3.0

Для показателей, где количество пропусков достаточно сущетсвенно, и не определены взаимосвязи между этими показателями, пустые значения заменяем на прямо указание на остутствие информации

In [21]:
data_short_full.pulse.fillna('no_info', inplace=True)
data_short_full.total_protein.fillna('no_info', inplace=True)
data_short_full.abdominal_distension.fillna('no_info', inplace=True)
data_short_full.pain.fillna('no_info', inplace=True)
data_short_full.rectal_temperature.fillna('no_info', inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Для показателя nasogastric_reflux пропуски заполняем значениями медианы, в зависимости от показателя abdominal_distension.

In [22]:
data_short_full.nasogastric_reflux.fillna(data_short_full.groupby(['abdominal_distension']).nasogastric_reflux.transform('median'), inplace=True)

In [23]:
for col in data_short_full.columns:
    pct_missing = data_short_full[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.0%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 0.0%
pulse - 0.0%
pain - 0.0%
abdominal_distension - 0.0%
nasogastric_reflux - 0.0%
total_protein - 0.0%
outcome - 0.0%